.FieldActionBoxContainer{
    display: flex;
}
.FieldButtons{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.FieldBTN{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
