.playerInventoryContainer{
    background-color: lightgray;
    display: flex;
    flex-direction:row;
    flex-grow: 1;
    /* border: solid brown 1px; */
    /* justify-content:end; */
    align-items: center;
    width: 100%;
    height: 100%;
}
.gold{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 217, 0, 0.685);
    width: 100%;
    height: 100%;
    border: solid brown 1px;
}
#ItemsHeader{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
  
    width: 100%;
}
.Inventory{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center ;
    height: 100%;
    /* justify-content: center; */
    font-size: small;
}
.itemLabel{
    display: flex;
    flex-direction: column;
    background-color: rgba(173, 216, 230, 0.623);
    /* justify-content: space-between; */
    /* align-items: center; */
    border: solid brown 1px;
}
.NameBox{
    width: 100%;
    height: fit-content;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}